@font-face {
    font-family: 'Arial';
    src: url('./../font/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('./../font/arial-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./../font/Helvetica-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Helvetica';
    src: url('./../font/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

:root{
    /* Colors */
    --first-color : #F0733B;
    --first-color-2 : #EB5C4F;
    --second-color : #E32481;
    --second-color-2 : #a00550;
    --black-color : #000000;
    --white-color : #ffffff;

    /* Fonts */
    --first-font: 'Helvetica';
    --second-font: 'Arial';
}

*{
    font-family: var(--first-font);
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FCFCFE;
}




/* Mobile start */
@media only screen and (max-width: 767px) {
    /* Header Mobile */
    body{
        overflow-x: hidden;
    }
    .header{
        background-color: var(--white-color);
        padding: 20px 15px;
        position: relative;
        z-index: 1000;
    }
    .header.sticky{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        position: fixed;
        width: 100%;
        animation: showNavbar .6s ease-in-out;
    }
    @keyframes showNavbar {
        from {
          top: -100%;
        }
        to {
          top: 0;
        }
    }
    .header .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .header-content .logo{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .header .header-content .logo img{
        position: relative;
        height: 50px;
        width: 130px;
    }
    .header .header-content .logo span{
        position: absolute;
        bottom: 0px;
        right: -35px;
        font-size: 9px;
        font-weight: bold;
        font-family: var(--first-font);
        color: var(--black-color);
    }
    .header .header-content .toggle-menu-nav{
        display: block;
    }
    .header .header-content .toggle-menu-nav button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .header .header-content .toggle-menu-nav button i,
    .header .header-content .toggle-menu-nav button svg{
        font-size: 30px;
    }
    .header .menu-nav{
        display: none;
        position: absolute;
        top: 0;
        right: -850px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(1px);
        height: 100vh;
        width: 100vw;
        transition: right 0.4s ease;
        z-index: 1000;
    }
    .header .menu-nav.show{
        display: block;
    }
    .header .menu-nav.open {
        right: 0;
        transition: right 0.4s ease;
    }
    .header .menu-nav div{
        position: absolute;
        right: 0;
        padding-top: 100px;
        padding-left: 30px;
        background-color: #000000;
        height: 100vh;
        width: 90vw;
    }
    .header .menu-nav div button{
        position: absolute;
        top: 15px;
        right: 40px;
        border: none;
        background-color: var(--white-color);
        padding: 10px;
        outline: none;
    }
    .header .menu-nav div button i,
    .header .menu-nav div button svg{
        font-size: 30px;
    }
    .header .menu-nav div ul{
        list-style: none;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .header .menu-nav div ul li{
        margin-bottom: 30px;
    }
    .header .menu-nav div ul li:last-child{
        margin-bottom: 0 !important;
    }
    .header .menu-nav div ul li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 18px;
        font-weight: normal;
        transition: ease-in-out .3s;
    }
    .header .menu-nav div ul li a.active,
    .header .menu-nav div ul li a:hover{
        color: var(--first-color);
    }
    /* Footer Mobile */
    .footer{
        margin-top: 30px;
        background: linear-gradient(to right, var(--first-color), var(--first-color-2));
        padding: 30px;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    }
    .footer .footer-head{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .footer-head .logo{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 130px;
        margin-bottom: 10px;
    }
    .footer .footer-head .logo img{
        position: relative;
        height: 50px;
        width: 130px;
    }
    .footer .footer-head .logo span{
        position: absolute;
        bottom: -2px;
        right: -37px;
        font-size: 9px;
        /* font-weight: bold; */
        font-family: var(--first-font);
        color: var(--white-color);
    }
    .footer .footer-toggle{
        margin-top: 10px !important;
    }
    .footer .footer-toggle h5{
        color: var(--white-color);
        font-size: 20px;
    }
    .footer .footer-toggle button{
        width: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white-color);
        font-size: 18px;
    }
    .footer .footer-toggle .dropdown-list{
        display: block;
        list-style: none;
        padding-left: 20px;
        margin-bottom: 0 !important;
    }
    .footer .footer-toggle .dropdown-list li{
        margin-bottom: 5px !important;
    }
    .footer .footer-toggle .dropdown-list li:first-child{
        margin-top: 5px !important;
    }
    .footer .footer-toggle .dropdown-list li:last-child{
        margin-bottom: 0px !important;
    }
    .footer .footer-toggle .dropdown-list li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 16px;
        transition: ease-in-out .3s;
    }
    .footer .footer-toggle .dropdown-list li a:hover{
        color: var(--second-color);
    }
    .footer .footer-foot{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--white-color);
    }
    .footer .footer-foot ul{
        list-style: none;
        padding-left: 20px;
        margin-bottom: 0 !important;
    }
    .footer .footer-foot ul li{
        color: var(--white-color);
    }
    .footer .footer-foot ul li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 16px;
        transition: ease-in-out .3s;
    }
    .footer .footer-foot ul li a:hover{
        color: var(--second-color);
    }
    
    .footer .footer-foot .link-sociaux{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 10px;
    }
    .footer .footer-foot .link-sociaux li{
        margin-right: 25px !important;
    }
    .footer .footer-foot .link-sociaux li:last-child{
        margin-right: 0 !important;
    }
    .footer .footer-foot .link-sociaux li a svg,
    .footer .footer-foot .link-sociaux li a i{
        font-size: 30px;
    }
    .footer .footer-foot p{
        margin-top: 10px;
        text-align: center;
        color: var(--white-color);
        font-size: 15px;
    }
    .section-hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        background: linear-gradient(to right, var(--first-color), var(--first-color-2));
    }
    .section-hero p{
        color: var(--white-color);
        font-size: 32px;
        text-align: center;
    }
    .section-hero .hero-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-hero .hero-action a{
        text-decoration: none;
        width: 250px;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
        color: var(--white-color);
        font-size: 22px;
        text-transform: uppercase;
        border-radius: 20px;
        transition: ease-in-out .3s;
    }
    .section-hero .hero-action a:first-child{
        background-color: var(--second-color);
    }
    .section-hero .hero-action a:first-child:hover{
        background-color: var(--second-color-2);
    }
    .section-hero .hero-action a:last-child{
        border: 2px solid var(--second-color);
    }
    .section-hero .hero-action a:last-child:hover{
        border: 2px solid var(--second-color-2);
        background-color: var(--second-color-2);
    }
    .section-hero{}
    .section-hero{}
}
/* Mobile end */