@font-face {
    font-family: 'Museo';
    src: url('./../font/Museo700-Regular.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('./../font/Museo300-Regular.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

:root{
    /* Colors */
    --first-color : #F0733B;
    --first-color-2 : #EB5C4F;
    --second-color : #E32481;
    --second-color-2 : #a00550;
    --black-color : #000000;
    --white-color : #ffffff;

    /* Fonts */
    --main-font: 'Museo';
}

*{
    font-family: var(--main-font);
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FCFCFE;
}




/* Mobile start */
@media only screen and (max-width: 767px) {
    /* Header Mobile */
    body{
        overflow-x: hidden;
    }
    .header{
        background-color: var(--white-color);
        padding: 20px 15px;
        position: relative;
        z-index: 1000;
    }
    .header.sticky{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        position: fixed;
        width: 100%;
        animation: showNavbar .6s ease-in-out;
    }
    @keyframes showNavbar {
        from {
          top: -100%;
        }
        to {
          top: 0;
        }
    }
    .header .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .header-content .logo{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .header .header-content .logo img{
        position: relative;
        height: 50px;
        width: 130px;
    }
    .header .header-content .logo span{
        position: absolute;
        bottom: 0px;
        right: -35px;
        font-size: 9px;
        font-weight: bold;
        font-family: var(--main-font);
        color: var(--black-color);
    }
    .header .header-content .toggle-menu-nav{
        display: block;
    }
    .header .header-content .toggle-menu-nav button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .header .header-content .toggle-menu-nav button i,
    .header .header-content .toggle-menu-nav button svg{
        font-size: 30px;
    }
    .header .menu-nav{
        display: none;
        position: absolute;
        top: 0;
        right: -850px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(1px);
        height: 100vh;
        width: 100vw;
        transition: right 0.3s ease;
        z-index: 1000;
    }
    .header .menu-nav.show{
        display: block;
    }
    .header .menu-nav.open {
        right: 0;
        transition: right 0.3s ease;
    }
    .header .menu-nav div{
        position: absolute;
        right: 0;
        padding-top: 100px;
        padding-left: 30px;
        background-color: #000000;
        height: 100vh;
        width: 90vw;
    }
    .header .menu-nav div button{
        position: absolute;
        top: 15px;
        right: 40px;
        border: none;
        background-color: var(--white-color);
        padding: 10px;
        outline: none;
    }
    .header .menu-nav div button i,
    .header .menu-nav div button svg{
        font-size: 30px;
    }
    .header .menu-nav div ul{
        list-style: none;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .header .menu-nav div ul li{
        margin-bottom: 30px;
    }
    .header .menu-nav div ul li:last-child{
        margin-bottom: 0 !important;
    }
    .header .menu-nav div ul li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 18px;
        font-weight: normal;
        transition: ease-in-out .3s;
    }
    .header .menu-nav div ul li a.active,
    .header .menu-nav div ul li a:hover{
        color: var(--first-color);
    }
    /* Footer Mobile */
    .footer{
        margin-top: 30px;
        background: linear-gradient(to right, var(--first-color), var(--first-color-2));
        padding: 30px;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    }
    .footer .footer-head{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .footer-head .logo{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 130px;
        margin-bottom: 10px;
    }
    .footer .footer-head .logo img{
        position: relative;
        height: 50px;
        width: 130px;
    }
    .footer .footer-head .logo span{
        position: absolute;
        bottom: -2px;
        right: -37px;
        font-size: 9px;
        font-family: var(--main-font);
        color: var(--white-color);
    }
    .footer .footer-toggle{
        margin-top: 10px !important;
    }
    .footer .footer-toggle h5{
        color: var(--white-color);
        font-size: 20px;
    }
    .footer .footer-toggle button{
        width: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white-color);
        font-size: 18px;
    }
    .footer .footer-toggle .dropdown-list{
        display: block;
        list-style: none;
        padding-left: 20px;
        margin-bottom: 0 !important;
    }
    .footer .footer-toggle .dropdown-list li{
        margin-bottom: 5px !important;
    }
    .footer .footer-toggle .dropdown-list li:first-child{
        margin-top: 5px !important;
    }
    .footer .footer-toggle .dropdown-list li:last-child{
        margin-bottom: 0px !important;
    }
    .footer .footer-toggle .dropdown-list li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 16px;
        transition: ease-in-out .3s;
    }
    .footer .footer-toggle .dropdown-list li a:hover{
        color: var(--second-color);
    }
    .footer .footer-foot{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--white-color);
    }
    .footer .footer-foot ul{
        list-style: none;
        padding-left: 20px;
        margin-bottom: 0 !important;
    }
    .footer .footer-foot ul li{
        color: var(--white-color);
    }
    .footer .footer-foot ul li a{
        text-decoration: none;
        color: var(--white-color);
        font-size: 16px;
        transition: ease-in-out .3s;
    }
    .footer .footer-foot ul li a:hover{
        color: var(--second-color);
    }
    
    .footer .footer-foot .link-sociaux{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 10px;
    }
    .footer .footer-foot .link-sociaux li{
        margin-right: 25px !important;
    }
    .footer .footer-foot .link-sociaux li:last-child{
        margin-right: 0 !important;
    }
    .footer .footer-foot .link-sociaux li a svg,
    .footer .footer-foot .link-sociaux li a i{
        font-size: 30px;
    }
    .footer .footer-foot p{
        margin-top: 10px;
        text-align: center;
        color: var(--white-color);
        font-size: 15px;
    }
    /* Section Hero */
    .section-hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;
        background: linear-gradient(to right, var(--first-color), var(--first-color-2));
    }
    .section-hero p{
        color: var(--white-color);
        font-size: 28px;
        text-align: center;
        font-family: var(--main-font);
    }
    .section-hero .hero-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-hero .hero-action a{
        text-decoration: none;
        width: 250px;
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
        color: var(--white-color);
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 20px;
        transition: ease-in-out .3s;
        font-family: var(--main-font);
    }
    .section-hero .hero-action a:first-child{
        background-color: var(--second-color);
    }
    .section-hero .hero-action a:first-child:hover{
        background-color: var(--second-color-2);
    }
    .section-hero .hero-action a:last-child{
        border: 2px solid var(--second-color);
    }
    .section-hero .hero-action a:last-child:hover{
        border: 2px solid var(--second-color-2);
        background-color: var(--second-color-2);
    }
    /* Section About Us */
    .section-about-us{
        padding: 20px;
        margin-top: 10px;
    }
    .section-about-us .about-us-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--first-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-about-us .about-us-head h5 span{
        display: inline-block;
    }
    .section-about-us .about-us-body p{
        margin-top: 10px;
        font-size: 16px;
    }
    .section-about-us .about-us-body span{
        color: var(--first-color);
        font-weight: 700;
    }
    /* Section Create Talent */
    .section-create-talent{
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        background: linear-gradient(to right, var(--first-color), var(--first-color-2));
        border-radius: 20px;
    }
    .section-create-talent .create-content{
        border-radius: 20px;
        background: var(--white-color);
        padding: 20px 10px;
    }
    .section-create-talent .create-talent-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--black-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-create-talent .create-talent-head h5 a{
        text-decoration: none;
        color: var(--second-color);
        transition: ease-in-out .3s;
    }
    .section-create-talent .create-talent-head h5 a:hover{
        color: var(--second-color-2);
    }
    .section-create-talent .create-talent-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .section-create-talent .create-talent-body p{
        margin-top: 10px;
        font-size: 16px;
    }
    .section-create-talent .create-talent-body .talent-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 370px;
        width: 230px;
        padding: 10px;
        background-image: url(./../img/people/talent.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px;
    }
    .section-create-talent .create-talent-body .talent-skill h5{
        font-size: 22px;
        font-weight: 700;
        color: var(--second-color);
    }
    .section-create-talent .create-talent-body .talent-skill span{
        width: 95%;
        background-color: var(--second-color-2);
        opacity: .9;
        color: var(--white-color);
        font-size: 18px;
        margin-bottom: 15px;
    }
    .section-create-talent .create-talent-foot {
        margin-top: 20px;
        text-align: center;
    }
    .section-create-talent .create-talent-foot h5{
        font-size: 22px;
    }
    .section-create-talent .create-talent-foot h5 span{
        color: var(--second-color);
        font-weight: 700;
    }
    .section-create-talent .create-talent-foot ul{
        padding: 0px 30px;
        margin-bottom: 20px !important;
        text-align: start;
    }
    .section-create-talent .create-talent-foot ul li{
        font-size: 16px;
    }
    .section-create-talent .create-talent-foot ul li span{
        color: var(--second-color);
    }
    .section-create-talent .create-talent-foot a{
        text-decoration: none;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--second-color);
        color: var(--white-color);
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 20px;
        transition: ease-in-out .3s;
        font-family: var(--main-font);
    }
    .section-create-talent .create-talent-foot a:hover{
        background-color: var(--second-color-2);
    }
    /* Section create work */
    .section-create-work{
        padding: 20px;
        margin-top: 10px;
        background: linear-gradient(to right, var(--second-color), var(--second-color-2));
        border-radius: 20px;
    }
    .section-create-work .create-content{
        border-radius: 20px;
        background: var(--white-color);
        padding: 20px 10px;
    }
    .section-create-work .create-work-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--black-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-create-work .create-work-head h5 a{
        text-decoration: none;
        color: var(--first-color);
        transition: ease-in-out .3s;
    }
    .section-create-work .create-work-head h5 a:hover{
        color: var(--first-color-2);
    }
    .section-create-work .create-work-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .section-create-work .create-work-body p{
        margin-top: 10px;
        font-size: 16px;
    }
    .section-create-work .create-work-body .work-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 370px;
        width: 230px;
        padding: 10px;
        background-image: url(./../img/people/business.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px;
    }
    .section-create-work .create-work-body .work-skill h5{
        font-size: 22px;
        font-weight: 700;
        color: var(--first-color);
    }
    .section-create-work .create-work-body .work-skill span{
        width: 95%;
        background-color: var(--first-color-2);
        opacity: .9;
        color: var(--white-color);
        font-size: 18px;
        margin-bottom: 15px;
    }
    .section-create-work .create-work-foot {
        margin-top: 20px;
        text-align: center;
    }
    .section-create-work .create-work-foot h5{
        font-size: 22px;
    }
    .section-create-work .create-work-foot h5 span{
        color: var(--first-color);
        font-weight: 700;
    }
    .section-create-work .create-work-foot ul{
        padding: 0px 30px;
        margin-bottom: 20px !important;
        text-align: start;
    }
    .section-create-work .create-work-foot ul li{
        font-size: 16px;
    }
    .section-create-work .create-work-foot ul li span{
        color: var(--first-color);
    }
    .section-create-work .create-work-foot a{
        text-decoration: none;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--first-color);
        color: var(--white-color);
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 20px;
        transition: ease-in-out .3s;
        font-family: var(--main-font);
    }
    .section-create-work .create-work-foot a:hover{
        background-color: var(--first-color-2);
    }
    /* How it Work */
    .section-how-work{
        padding: 20px;
        margin-top: 10px;
    }
    .section-how-work .how-work-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--first-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-how-work .how-work-head p{
        font-size: 16px;
    }
    .section-how-work .how-work-body > h5{
        text-align: center;
        font-size: 20px;
        color: var(--first-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-how-work .how-work-body .global-step .choose{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .section-how-work .how-work-body .global-step .choose button{
        padding: 10px;
        font-size: 18px;
        border-radius: 20px;
        width: 120px;
        transition: ease-in-out .3s;
    }
    .section-how-work .how-work-body .global-step .choose button:first-child{
        border: 2px solid var(--first-color);
        background-color: transparent;
        color: var(--black-color);
        margin-right: 30px;
    }
    .section-how-work .how-work-body .global-step .choose button:first-child.active{
        border: 2px solid var(--first-color);
        background-color: var(--first-color);
        color: var(--white-color);
        margin-right: 30px;
    }
    .section-how-work .how-work-body .global-step .choose button:first-child:hover{
        border: 2px solid var(--first-color-2);
        background-color: var(--first-color-2);
        color: var(--white-color);
    }
    .section-how-work .how-work-body .global-step .choose button:last-child{
        border: 2px solid var(--second-color);
        background-color: transparent;
        color: var(--black-color);
    }
    .section-how-work .how-work-body .global-step .choose button:last-child.active{
        border: 2px solid var(--second-color);
        background-color: var(--second-color);
        color: var(--white-color);
    }
    .section-how-work .how-work-body .global-step .choose button:last-child:hover{
        border: 2px solid var(--second-color-2);
        background-color: var(--second-color-2);
        color: var(--white-color);
    }
    .section-how-work .global-step #for-talent{
        display: none;
    }
    .section-how-work .global-step #for-talent.active{
        display: block;
    }
    .section-how-work .global-step #for-business{
        display: none;
    }
    .section-how-work .global-step #for-business.active{
        display: block;
    }
    .section-how-work .global-step .step{
        margin-bottom: 20px !important;
    }
    .section-how-work .global-step .step:first-child{
        margin-top: 20px !important;
    }
    .section-how-work .global-step .step:last-child{
        margin-bottom: 0px !important;
    }
    .section-how-work .global-step .step .step-description .step-number{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .section-how-work .global-step .step .step-description .step-number span{
        font-size: 18px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--white-color);
    }
    .section-how-work .global-step #for-talent .step .step-description .step-number span{
        background-color: var(--first-color);
    }
    .section-how-work .global-step #for-business .step .step-description .step-number span{
        background-color: var(--second-color);
    }
    .section-how-work .global-step .step .step-description .step-number h5{
        font-size: 18px;
        margin-bottom: 0 !important;
    }
    .section-how-work .global-step #for-talent .step .step-description .step-number h5{
        color: var(--first-color);
    }
    .section-how-work .global-step #for-business .step .step-description .step-number h5{
        color: var(--second-color);
    }
    .section-how-work .global-step .step .step-description p{
        margin-bottom: 0 !important;
        padding-left: 50px;
    }
    /* Partner sction */
    .section-partner{
        padding: 20px;
        margin-top: 10px;
    }
    .section-partner .partner-head{
        margin-bottom: 20px;
    }
    .section-partner .partner-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--first-color);
        font-weight: 700;
        font-family: var(--main-font);
    }
    .section-partner .partner-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }
    .section-partner .partner-body img{
        height: 140px;
    }
    .section-partner .partner-body img:last-child{
        height: 100px;
        width: 100%;
    }
    /* Matching Section */
    .section-matching{
        margin-top: 10px;
    }
    .section-matching .matching-head{
        margin-bottom: 20px;
        padding: 20px;
        margin-top: 10px;
        background: linear-gradient(to right, var(--second-color), var(--second-color-2));
        width: 100%;
    }
    .section-matching .matching-head h5{
        text-align: center;
        font-size: 20px;
        color: var(--white-color);
        font-weight: 700;
        font-family: var(--main-font);
        margin-bottom: 0 !important;
    }
    .section-matching .matching-body{
        padding: 0px 20px;
    }
    .section-matching .matching-body p{
        margin-bottom: 0 !important;
        font-size: 16px;
    }
    .section-matching .matching-body p span{
        color: var(--first-color);
    }
    .section-matching .matching-body img{
        width: 100%;
        height: 150px;
    }
    .section-matching .matching-body ul{
        padding: 20px 50px;
        margin-bottom: 0 !important;
    }
    .section-matching .matching-body ul li:nth-child(1){
        color: #F80000;
    }
    .section-matching .matching-body ul li:nth-child(2){
        color: #00B1F5;
    }
    .section-matching .matching-body ul li:nth-child(3){
        color: #F38900;
    }
    .section-matching .matching-body ul li:nth-child(4){
        color: #F20079;
    }

}
/* Mobile end */